<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_7BMiniProyecto.Properties.Settings.proyectoConnectionString"
            connectionString="Data Source=MARYNEST-PC\SQLNESS;Initial Catalog=proyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>